.table {
	border-collapse: collapse;
	border-spacing: 0;
	width: max-content;
	min-width: 100%;
	margin-bottom: 1rem;
	background-color: transparent;

	& tr {
		text-align: center;
		border-bottom: 1px solid #dee2e6;
		width: max-content;

		& th {
			vertical-align: bottom;
			border-bottom: 2px solid #dee2e6;
			border-left: 1px solid #a5a8aa;
			border-right: 1px solid #a5a8aa;
			border-top: 1px solid #dee2e6;
			padding: 0.75rem;
			font-weight: 700;
			width: max-content;
			background-color: #f8f9fa;
		}

		& td {
			vertical-align: top;
			border-left: 1px solid #a5a8aa;
			border-right: 1px solid #a5a8aa;
			padding: 0.75rem;
			width: max-content;
		}
	}
}

.tableWrapper {
	overflow: scroll;
}

.header {
	background-color: #f8f9fa;
	border-bottom: 1px solid #dee2e6;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.75rem 1rem;
	margin-bottom: 1rem;
}

.scanButton {
	input,
	button,
	a {
		color: #007bff;
		text-decoration: none;
		width: fit-content;
		text-align: center;
		padding: 0.75rem 0;
		background-color: #fff;
		border: 1px solid #dee2e6;
		border-radius: 0.25rem;
		font-weight: normal;
		font-size: medium;

		&:hover {
			background-color: #e9ecef;
			cursor: pointer;
		}
	}

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	background-color: #fff;
}

.expired {
	color: #dc3545;
}

.expiresSoon {
	color: #ffc107;
}

.notExpired {
	color: #28a745;
}

.nutriscore {
	// smooth transition between a = green, b = light green, c = yellow, d = orange, e = red
	&_a {
		color: #28a745;
	}
	&_b {
		color: #f0e68c;
	}
	&_c {
		color: #ffc107;
	}
	&_d {
		color: #ffa500;
	}
	&_e {
		color: #dc3545;
	}
	&_undefined {
		color: #6c757d;
	}
}

.sortDirection {
	&_-1 {
		&::before {
			content: '▴';
			position: relative;
			bottom: 6px;
		}
	}
	&_1 {
		&::before {
			content: '▾';
			position: relative;
			top: 2px;
		}
	}
}
