@use 'defaults/defaultStyles';

.groupList {
	@include defaultStyles.list;
}
.isOwner {
	& a {
		&:before {
			background-image: url('/crown.svg');
		}
	}
}
.isNotOwner {
	& a {
		&:before {
			background-image: url('/lock.svg');
		}
	}
}
.createNew {
	& a {
		&:before {
			background-image: url('/plus.svg');
		}
	}
}
