@use 'defaults/defaultStyles';

.groupList {
	@include defaultStyles.list;

	li a {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
.isOwner {
	& a {
		&:before {
			background-image: url('/crown.svg');
		}
	}
}
.isNotOwner {
	& a {
		&:before {
			background-image: url('/lock.svg');
		}
	}
}
.createNew {
	& a {
		&:before {
			background-image: url('/plus.svg');
		}
	}
}
