.groupList {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	list-style: none;

	& li {
		margin: 10px 0;
		padding: 10px;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		border-radius: 5px;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
		transition: all 0.2s ease-in-out;

		&:hover {
			box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
			background-color: #fafafa;
		}
	}
}
.isOwner {
	& a {
		position: relative;
		color: rgb(76, 235, 61);
		// Display a crown icon
		&:before {
			position: absolute;
			content: '';
			display: block;
			width: 1.2rem;
			height: 1.2rem;
			background-image: url('/crown.svg');
			background-size: cover;
			background-position: center;
			left: -1.2rem;
		}
	}
}
.isNotOwner {
	& a {
		position: relative;
		color: rgb(61, 235, 197);
		// Display a lock icon
		&:before {
			position: absolute;
			content: '';
			display: block;
			width: 1.2rem;
			height: 1.2rem;
			background-image: url('/lock.svg');
			background-size: cover;
			background-position: center;
			left: -1.2rem;
		}
	}
}
.createNew {
	& a {
		position: relative;
		color: rgb(235, 61, 61);
		// Display a plus icon
		&:before {
			position: absolute;
			content: '';
			display: block;
			width: 1.2rem;
			height: 1.2rem;
			background-image: url('/plus.svg');
			background-size: cover;
			background-position: center;
			left: -1.2rem;
		}
	}
}
