@use 'defaults/defaultStyles';

.table {
	@include defaultStyles.table;
}

.tableWrapper {
	overflow: scroll;
}

.header {
	background-color: #f8f9fa;
	border-bottom: 1px solid #dee2e6;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.75rem 1rem;
	margin-bottom: 1rem;
}

.scanButton {
	input,
	button,
	a {
		@include defaultStyles.button;
	}

	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	background-color: #fff;
}

.expired {
	color: #dc3545;
}

.expiresSoon {
	color: #ffc107;
}

.notExpired {
	color: #28a745;
}

.nutriscore {
	// smooth transition between a = green, b = light green, c = yellow, d = orange, e = red
	&_a {
		color: #28a745;
	}
	&_b {
		color: #f0e68c;
	}
	&_c {
		color: #ffc107;
	}
	&_d {
		color: #ffa500;
	}
	&_e {
		color: #dc3545;
	}
	&_undefined {
		color: #6c757d;
	}
}

.sortDirection {
	&_-1 {
		&::before {
			content: '▴';
			position: relative;
			bottom: 6px;
		}
	}
	&_1 {
		&::before {
			content: '▾';
			position: relative;
			top: 2px;
		}
	}
}
