@use 'defaults/defaultStyles';

.dropdown {
	@include defaultStyles.dropdown;
}

.selected {
	color: black;
	background-color: var(--darkenedSecondaryColor10);
	border-radius: 4px;
	padding: 0.5rem 1rem;
	margin-right: 0.5rem;
	font-size: 0.9rem;
	line-height: 1.5rem;
	cursor: pointer;
	transition: background-color 0.2s ease-out;
	pointer-events: none;

	&:hover {
		background-color: var(--darkenedPrimaryColor10);
	}
}

.warning {
	color: var(--secondaryColor);
	background-color: var(--errorColor);
	border-radius: 4px;
	padding: 0.5rem 1rem;
	margin-right: 0.5rem;
	font-size: 0.9rem;
	line-height: 1.5rem;
	cursor: pointer;
	transition: background-color 0.2s ease-out;
	pointer-events: none;

	&:hover {
		background-color: var(--darkenedErrorColor10);
	}
}

.basicPage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	h1 {
		font-size: 2.5rem;
		margin-bottom: 1rem;
	}

	form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
		max-width: 400px;
		margin-bottom: 1rem;

		input {
			@include defaultStyles.input;
		}

		button {
			@include defaultStyles.button;
		}
	}
}

.button {
	@include defaultStyles.button;
}
